
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #14171A; 
    color: #E1E8ED;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #FFFFFF; 
    color: #000000; 
}

body.light-mode #chat {
    background-color: #F5F8FA; 
    border: 1px solid #DDDDDD;
}

body.light-mode #messageInput {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD; 
}

body.light-mode #sendButton {
    background-color: #1DA1F2;
    color: white;
}

body.dark-mode {
    background-color: #14171A; 
    color: #E1E8ED; 
}

body.dark-mode #chat {
    background-color: #1A1D1F; 
    border: 1px solid #333;
}

body.dark-mode #messageInput {
    background-color: #1A1D1F; 
    border: 1px solid #333;
}

body.dark-mode #sendButton {
    background-color: #1DA1F2; 
    color: white;
}

#chat {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    max-width: 600px; 
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box; 
}

#messages {
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #333;
    max-height: 400px;
    box-sizing: border-box;
}

#messageContainer {
    display: flex;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box; 
}

#messageInput {
    flex: 1; 
    padding: 10px;
    border-radius: 20px;
    color: #E1E8ED;
    outline: none;
    box-sizing: border-box; 
}

#sendButton {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    box-sizing: border-box; 
}

#sendButton:hover {
    background-color: #1991DB; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A1D1F; 
    border-bottom: 1px solid #333;
}

.navbar h1 {
    margin: 0;
    color: #E1E8ED;
    font-size: 24px;
}

.navbar button {
    background: none;
    border: none;
    color: #E1E8ED;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px; 
}

.navbar button:hover {
    color: #1DA1F2; 
}

.navbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E1E8ED;
    font-size: 16px;
}

.navbar a:hover {
    color: #1DA1F2;
}

.navbar .github-icon {
    display: flex;
    align-items: center;
}

.navbar .github-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid #E1E8ED;
}
